<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refresh_after_hours</key>
	<integer>12</integer>
	<key>PSVGames</key>
	<date>2018-05-06T01:28:42Z</date>
	<key>PSVUpdates</key>
	<date>2018-05-06T01:29:28Z</date>
	<key>PSVDLCs</key>
	<date>2018-05-06T01:29:32Z</date>
	<key>PSXGames</key>
	<date>2018-05-06T01:29:30Z</date>
	<key>PSPGames</key>
	<date>2018-05-06T01:29:35Z</date>
</dict>
</plist>
